## Ignore environment variable files
*.env

## Ignore venv
venv/

## Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.cache
*.pyo.cache
*.pyd.cache
*.pytest_cache/
*.mypy_cache/
*.pyre/
*.tox/